*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'proppins', sans-serif;

}

.header{
    width: 100%;
    height: 100%;
    background-image: url(images/);
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 0 7%;
    position: relative;
}
